.container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-left: 30px;
    /* margin-bottom: 12px; */
    cursor: pointer;
    /* font-size: 22px; */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    width: 24px;
    background-color: transparent;
    border: 2px solid var(--co1);
    border-radius: 5px;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: rgba(31, 59, 68,0.5);
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #319953;
    border: none;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 7px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
@charset "utf-8";
:root{
    --co1:#1f3b44 ; 
    --co2:#f7efef ;
    --bg:#b8c7a7;
}


*{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*::before, *::after{-webkit-box-sizing:border-box;box-sizing:border-box;}


#root{
    background-color: #b8c7a7;
    background-color: var(--bg);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    overflow: hidden;position: relative;
    z-index: 1;
    
}

#todo_app_con{
    
    height: 70%;
    min-width: 40%; 
    margin-top: 4rem;
    position: relative;
}

#todo_app_con>*{
margin-bottom: 1rem;
}


#todo_header{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #1f3b44 ;
    color: var(--co1);
    font-style: italic;
    font-weight: 800;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


#todo_input_con{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
}


#todo_input_con button{
    width: 30%;
}

.input{
    background-color: transparent;
    border: 1px solid #1f3b44 ;
    border: 1px solid var(--co1);
    border-radius: 5px 0px 0px 5px;
    padding: 0.4rem 1rem;
    color: #1f3b44 ;
    color: var(--co1);
    font-style: italic;
    font-weight: 500;
    height: 100%;
    width: 70%;
}

.input:focus{
    outline: none;

}




#todos_holder{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 90%;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: 0.1px;
    scroll-behavior: smooth;
}


.todo{
width: 100%;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: justify;
    -ms-flex-pack: justify;
        justify-content: space-between;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
padding: 0.5rem 0.5rem;
-webkit-animation: fade 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0s both;
        animation: fade 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0s both;
position: relative;
z-index: 1;

}

@-webkit-keyframes fade {
    0% {
      
        -webkit-transform: scale(0);
      
                transform: scale(0);
        opacity: 0;
}
100% {

        -webkit-transform: scale(1);

                transform: scale(1);
        opacity: 1;
}
}

@keyframes fade {
    0% {
      
        -webkit-transform: scale(0);
      
                transform: scale(0);
        opacity: 0;
}
100% {

        -webkit-transform: scale(1);

                transform: scale(1);
        opacity: 1;
}
}

.todo_text{
color: #1f3b44 ;
color: var(--co1);
font-family: 'Courier New', Courier, monospace;
font-weight: 600;
width: 70%;

}

.todo_btn{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    
    position: relative;
    width: 15%;
    
}




.icon{

    fill:#1f3b44 ;

    fill:var(--co1);
    cursor: pointer;
}



.todo_btn_icon{
position: relative;
z-index: 1;
}

.todo_btn_icon:hover .todo_btn_other_con{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.todo_btn_icon:last-child:hover .todo_btn_other_con{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}


.todo:last-child:not(:first-child) .todo_btn_icon:last-child:hover .todo_btn_other_con{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: -35px;
}


.todo_btn_other_con{
    z-index: 10021;
    position: absolute;
    display: none;
    top: 10px;
    right: 0;
    
    -webkit-box-orient: vertical;
    
    -webkit-box-direction: normal;
    
        -ms-flex-direction: column;
    
            flex-direction: column;
    
    background-color:#f7efef ;
    
    background-color:var(--co2);
    border-radius: 10px;

    
}


.todo_btn_other_con_btn{

    border-radius: 5px;

}

.todo_btn_other_con_btn:hover{
    background-color: rgba(31, 59, 68,0.2);
    

}

#editing{
    z-index: 2000;
    position: absolute;
    width: 100%;
    top: 0;
    height: 100%;
    background-color: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-radius: 16px;

}





/* Buttons */

.primary{
    background-color: #1f3b44 ;
    background-color: var(--co1);
    border: none;
    padding: 0.5rem;
    color: #b8c7a7;
    color: var(--bg);
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
    height: 100%;
}

.text{
    background-color: transparent;
    border: none;
    padding: 0.2rem 1rem;
    color: #1f3b44 ;
    color: var( --co1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;;
    width: auto;
    -ms-flex-pack:distribute;
        justify-content:space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
    
    
}

.icon_btn{
    background-color: transparent;
    border: none;
    padding: 0rem  0.2rem;
    color: #1f3b44 ;
    color: var( --co1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;;
    width: 100%;
    height: 100%;;
    -ms-flex-pack:distribute;;
        justify-content:space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
}

.todo-check{
    
}
.todo-check .todo_text h6{
    -webkit-text-decoration: line-through solid 2px #1f3b44 ;
            text-decoration: line-through solid 2px #1f3b44 ;
    -webkit-text-decoration: line-through solid 2px var(--co1);
            text-decoration: line-through solid 2px var(--co1);
}

#editing .input{
    background-color: #1f3b44 ;
    background-color: var(--co1);
    height: auto;
    color: #b8c7a7;
    color: var(--bg);
    width: 80%;
    -webkit-box-shadow: 1px 1px 3px 0px black;
            box-shadow: 1px 1px 3px 0px black;    
}


.editing_btn{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    
    -webkit-box-pack: end;
    
        -ms-flex-pack: end;
    
            justify-content: flex-end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 80%;
    margin-top: 0.5rem;
}

.editing_btn button{
    font-weight:  500;
    color: #1f3b44;
}


